<button {{action 'screenshot'}}>Screenshot</button>
{{outlet}}
<div style="position: absolute; top: 0px; bottom: 0; width: 100%; height: 100%; z-index:-1;">
    <div id="canvas" style="">{{state-diagram state-collection=model.content
            createTransitionAction='createTransition'
            stateSelectedAction='stateSelected' 
            transitionSelectedAction='transitionSelected'
            stateMovedAction='stateMoved'
            }}
    </div>                        

</div>

