<div class="row">
<div class="col-md-12">
<h3>ALPS Profiles</h3>
<table class="table">
{{#each alps in model}}
<tr><td>{{alps.name}}</td><td><button class="btn btn-default" type="submit">Delete</button></td></tr>
{{/each}}
</table>
{{#link-to 'alps-create'}}New ALPS Profile...{{/link-to}}
</div>
</div>
