<h1>Design your API</h1>
<div>{{#link-to 'project.vocabulary'}}Create a Vocabulary{{/link-to}}</div>
<div>{{#link-to 'resources'}}Sketch the API{{/link-to}}</div>
<div>{{#link-to 'maps'}}Create a Design Map{{/link-to}}</div>
<div>{{#link-to 'project.run'}}Try it Out{{/link-to}}</div>

<ul>
</ul>